#container{
    //border:1px #666 dashed;
    width:800px;
    margin:0 auto;
    font-size:14px;
}
#header{
    width:790px;
    height:10px;
    //border:1px #666 dashed;
    margin:0 auto;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
}
#sidebar_left{
    width:100px;
    height:1060px;
    //border:1px #666 dashed;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    float:left;
}
#sidebar_right{
    width:100px;
    height:1060px;
    //border:1px #666 dashed;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
    float:right;
}
#content{
    width:570px;
    height:auto;
    //border:1px #666 dashed;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    float:left;
}
#clear{
    clear:both;
}
#footer{
    width:790px;
    height:60px;
    //border:1px #666 dashed;
    margin-top:5px;
    margin-left:5px;
    margin-bottom:5px;
    text-align: center;
}