#container{
    //border:1px #666 dashed;
    width:640px;
    margin:0 auto;
    font-size:14px;
}
#header{
    //border:1px #666 dashed;
    width:640px;
    height:10px;
    margin:0 auto;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
}
#content{
    //border:1px #666 dashed;
    width:640px;
    height:auto;
    margin:0 auto;
    margin-top:5px;
    margin-bottom:5px;
}
#clear{
    clear:both;
}
#footer{
    //border:1px #666 dashed;
    width:640px;
    height:60px;
    margin:0 auto;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
}

.social-links {
    text-align: center;
}

.fa-github {
    color: #333;
}

.fa-pencil {
    color: #333;
}

.fa-facebook-square {
    color: #333;
}

.fa-twitter {
    color: #333;
}

.fa-linkedin-square {
    color: #333;
}
